@import "club.scss";
@mixin space($w, $h) {
    width: $w;
    height: $h;
}

@mixin btwn($m, $p) {
    margin: $m;
    padding: $p;
}

.App {
    @include space(100%, 100%);
    @include btwn(0, 0);
    display: flex;

    .Navbar {
        @include space(100%, 3rem);
        display: flex;
        flex-shrink: 0;
        position: fixed;
        z-index: 100;
        background: #fff;
        padding-bottom: 5rem;
        p {
            margin-top: 0.5rem;
            margin-left: 2rem;
            width: 5rem;
            color: #42d084;
            text-align: center;
            font-family: "inter";
            font-size: 2.5rem;
            font-style: normal;
            line-height: normal;
        }

        ul {
            @include btwn(0, 0);
            list-style: none;
            display: flex;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            position: absolute;
            right: 0.5rem;
        }

        li {
            @include btwn(0.5rem, 0.5rem);
            list-style: none;
            font-family: "inter";
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 200;
            line-height: 150%; /* 36px */
            letter-spacing: -0.264px;
        }
    }
}
