@mixin fontSetting($color, $font, $size, $style, $w, $h, $spacing) {
  color: $color;
  font-family: $font;
  font-size: $size;
  font-style: $style;
  font-weight: $w;
  line-height: $h;
  /* 21px */
  letter-spacing: $spacing;
}
.sidemenu {
    float: right;
    margin: 8.2rem 2.8rem;
  
  p{
    @include fontSetting(#939393, "inter", 14px, normal, 500, 220%, -0.154px);
    margin-top: 0.2rem;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
  }

     .side-button {
            background: #fff;
            border: none;
            @include fontSetting(#42d084, "inter", 49px, normal, 500, 0%, -0.514px);
            width: 100%;
            margin: auto;
          
        }

  }
